[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=LabPowerQt
Comment=Application to control laboratory power supplies
Exec=labpowerqt
Icon=labpowerqt
Categories=Qt;Electronics;
Terminal=false
